<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edynamix.learning.android.carservice">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_car"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_car"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.AddDamageDetailsActivity"></activity>
        <activity android:name=".activities.AddDamageActivity" />
        <activity android:name=".activities.ListDamagesActivity" />
        <activity
            android:name=".activities.AddCarOwnerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.AddCarActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ListCarsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.edynamix.learning.android.carservice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>